<div class = "left-box">
	<h2>User info</h2>
	<%= attachment_image_tag @user, :profile_image, size: "50x50", fallback: "no_image.jpg"%>
	<div class = "bar">
			<a>name</a>
			<%= user.name %>
	</div>
	<a>introduction</a>
	<%= user.introduction %>
	<%= link_to "スパナ", edit_user_path(@user.id) %>
</div>