<h1>Books</h1>
<table class = "clearfix">
	<div class = "underbar">
		<tr>
			<th class = "null"></th>
			<th class = "title">Title</th>
	   		<th class = "opinion">Opinion</th>
	   	</tr>
	</div>
   	<% @users.each do |book| %>
	<tr class = "box clearfix">
		<td><%= user.profile_image_id  %></td>
		<td><%= user.name  %></td>
	 	<td><%= link_to "Show" user_path(@user.id) %></td>
   	</tr>
	<% end %>
</table>