<h1>Books</h1>
<table class = "clearfix">
	<div class = "underbar">
		<tr>
			<th class = "null"></th>
			<th class = "title">Title</th>
	   		<th class = "opinion">Opinion</th>
	   	</tr>
	</div>
   	<% @users.each do |book| %>
	<tr class = "box clearfix">
		<td><%= attachment_image_tag @user, :profile_image_id, :fill, 20, 20, fallback: "no_image.jpg"%></td>
		<td><%= @users.name  %></td>
   	</tr>
	<% end %>
</table>

<%= render "users/leftpage", user: @user %>
<%= render "books/leftbottom", book: @book %>